<?xml version="1.0"?>
<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="base_global_planner" value="hybrid_astar_planner_ros/HybridAstarPlannerRos" />

    <!-- teb -->
    <rosparam file="$(find demo_launch)/config/teb/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find demo_launch)/config/teb/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find demo_launch)/config/teb/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find demo_launch)/config/teb/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find demo_launch)/config/teb/teb_local_planner_params.yaml" command="load" />

    <!-- move_base -->
    <rosparam file="$(find demo_launch)/config/move_base/move_base_params.yaml" command="load" />

    <!-- planner -->
    <rosparam file="$(find demo_launch)/config/planner/base_global_planner_params.yaml" command="load" />
    <remap from="/cmd_vel" to="/ackermann_steering_controller/cmd_vel" />
  </node>


</launch> 