<launch>

    <!-- 打印时显示节点 -->
    <env name="ROSCONSOLE_FORMAT" value="[${node}]: ${message}" />
 
    <!-- 启动仿真环境 -->
    <include file="$(find car_gazebo)/launch/ackermann_model.launch" />

    <!-- 设置地图的配置文件 -->
    <arg name="map" default="maze.yaml" />

    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find car_gazebo)/maps/$(arg map)" />

    <!-- 运行move_base节点 -->
    <!-- <include file="$(find demo_launch)/launch/move_base_hys.launch" /> -->

    <!-- 生成map到base_footprint的tf -->
    <include file="$(find map_to_baselink)/launch/map_to_baselink.launch" />

    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find demo_launch)/rviz/nav.rviz" />

</launch>